scripts/scp/
autom4te.cache/
builds/

tools/mtidl/.deps/mtidl_ini_parser.Po
tools/rtlogger/shared/.deps/logmacro_database.Po
tools/shared/.deps/*.Po

.dirstamp
.build_tree_ts
.config
.config.h
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
tools/kconfig/*.d
tools/kconfig/lxdialog/*.d


*.[oa]
*~
*.in
*.m4
*.old
